<form  style=" font:normal 16px/1.8em Arial, Helvetica, sans-serif; color:#2a292b">
    <li>
        <label for="name">
            <strong>Your Name:</strong> (<FONT COLOR = "RED">*</FONT>)
        </label>
    </li>
        <li>
            <input id="name" name="name" class="text" />
        </li>
        <li><strong>Your Email Address:</strong> (<FONT COLOR = "RED">*</FONT>)</li>
        <li>
            </label>
            <input id="email" name="email" class="text" /></li>

        <label for="message">
            <strong>Message:</strong> (<FONT COLOR = "RED">*</FONT>)
        </label>
        </li>


        <li>
            </label>
            <textarea id="message" name="comments" rows="8" cols="50"></textarea>
        </li>
        <li>
            <input type="image" name="imageField" id="imageField" src="images/submit.gif" value="send" />
            <div class="clr"></div>
        </li>
</form>