<%= form_for :teacher , url: teachers_path do |f| %>
    <table>

      <tr>
        <td><%= f.label :user %></td>

        <td> <%= f.select :user_id, @users.map {|r| [r.fullname,r.id] } %></td>

      </tr>

    </table>

    <p>
      <%= f.submit value="Add Teacher" %>
    </p>

<% end %>