
<!--<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Educational</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body> -->



<div class="wrapper col4">
  <div id="container">
    <div id="content">
      <h1 style="font-size:28px;font-family:Impact">TAMU中文学校简介</h1>
      <img class="imgr" src="https://physics.tamu.edu/images/mainphotos/watertowerweb.jpg" alt="" width="300" height="200"/>
      <p style="font-size:16px;font-family:Times">TAMU 学生组织 Chinese‐American Association （CAA）由致力于中文教育的家长发起，成立于 2003年，同年 CAA 主办 TAMU 中文学校。 受益于 TAMU, CAA 及下属中文学校得以免费使用大学教室进行活动。</p>
      <p style="font-size:16px;font-family:Times">TAMU 中文学校是 Texas  College Station/Bryan 地区目前唯一的一所中文学校。办校宗旨是面向
Brazos Valley，传承及弘扬中华文化，为华裔和所有对中国语言和文化有兴趣的少年儿童及成人提供简体字中文教学。学校从创办时的近二十个学生，发展到现在约十个中文班，近七十个学生。学校除中文课外，还设有艺术启蒙课及数学课，以帮助学生全面发展。另外，学校近年成立了图书馆，欢迎教师，学生及家长借阅。</p>
      <p style="font-size:16px;font-family:Times">TAMU 中文学校由家长发起，组织和管理。学校的管理人员由家长志愿者组成；教师队伍从本地热爱教育的家长，研究生及各界人士中选拔组成。教师按授课时数领取少量报酬，为半志愿者性质。由于各方的支持，学校一直保持小班授课，收费低廉并对低收入家庭半价收费。随着入学人数增加，学校经费不断增加，自 2011 年起课本对所有学生免费。</p>
    </div>
    <div id="column">
      <div class="subnav">
        <ul>
	  <li style="font-size:16px"><%= link_to '中文学校组织机构', organization_path %></li>
	  <li style="font-size:16px"><%= link_to '中文学校规章制度', school_rules_path %></li>
	  <li style="font-size:16px"><%= link_to '中文学校教师守则', teachers_guidelines_path %></li>
          <li style="font-size:16px"><%= link_to '学生守则', students_handbook_path %></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved.</p>
 <p class="fl_right">Designed by Team SOS </p>
    <br class="clear" />
  </div>
</div>
<!--
</body>
</html>
-->


