<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Educational
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<!--<head>
<title>Organization</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.ui.min.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.tabs.setup.js"></script>
</head>
<body> -->
<!--
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div class="topbox">
        <h2>Nullamlacus dui ipsum</h2>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      <div class="topbox">
        <h2>Teachers Login Here</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Teachers Login Form</legend>
            <label for="teachername">Username:
              <input type="text" name="teachername" id="teachername" value="" />
            </label>
            <label for="teacherpass">Password:
              <input type="password" name="teacherpass" id="teacherpass" value="" />
            </label>
            <label for="teacherremember">
              <input class="checkbox" type="checkbox" name="teacherremember" id="teacherremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="teacherlogin" id="teacherlogin" value="Login" />
              &nbsp;
              <input type="reset" name="teacherreset" id="teacherreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <div class="topbox last">
        <h2>Pupils Login Here</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Pupils Login Form</legend>
            <label for="pupilname">Username:
              <input type="text" name="pupilname" id="pupilname" value="" />
            </label>
            <label for="pupilpass">Password:
              <input type="password" name="pupilpass" id="pupilpass" value="" />
            </label>
            <label for="pupilremember">
              <input class="checkbox" type="checkbox" name="pupilremember" id="pupilremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="pupillogin" id="pupillogin" value="Login" />
              &nbsp;
              <input type="reset" name="pupilreset" id="pupilreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left">Log In Here &raquo;</li>
        <li class="right" id="toggle"><a id="slideit" href="#slidepanel">Administration</a><a id="closeit" style="display: none;" href="#slidepanel">Close Panel</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div> -->
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1>中文学校组织机构</h1>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div id="content">
    </div>


    <div class="clear">  
      <h2>1. 理事会 </h2>

      <p> 
      理事会是塔木中文学校的统管决策机构，其主要职责包括：明确学校的定位，决定学校的使命和发展方向，监督和审理校务委员会的工作，管理学校的资产, 解释学校的章程和政策; 任免校长和副校长; 审批校务委员会的财政预算和结算, 决定校长和副校长的任期和报酬; 以及选举新的理事.
      </p>
       
      <p>
      理事会由以下成员组成：TAMU Faculty Advisor, CAA President, CAA Financial Officer, 校长，副校长，财务，家长会会长，副会长。
      </p>

      <p>
      新的理事由理事提名委员会提名, 理事会表决通过而产生. 理事应热衷于社区活动, 对中国语言文化有兴趣, 并愿意推动中文教育事业的发展. 我们鼓励现有的和过去的家长来积极参与理事会的工作. 
      </p>
    </div>
     
    <div class="clear">  
      <h2>2.  <a href="https://studentactivities.tamu.edu/app/"><u>Chinese-American Association</u></a> (CAA)</h2>
      
      <p> 
      CAA 是TAMU的学生组织，负责塔木中文学校与TAMU的沟通，遵守TAMU规则，及财务运作。CAA 由以下成员组成： <br> 
      TAMU Faculty Advisor： 汪海燕 <br>
      President: 徐蕾 <br>                                     
      Financial Officer: 常青 （任期至Dec. 2011）, 姚艾薇 （Jan. 2012 上任）<br>
      Members: 欢迎TAMU学生加入。请有TAMU学生身份的家长务必加入以保证CAA的合法性。请点击加入: <br>  
      <a href="http://studentactivities.tamu.edu/online/organization/OTUyODIw/members/newrequest"><span style="color:blue">http://studentactivities.tamu.edu/online/organization/OTUyODIw/members/newrequest</span></a>
      </p>
    </div>

    <div class="clear">
      <h2>3. 校务委员会 </h2>

      <p> 
      校务委员会（简称“校委会”）负责学校的整体运作，建立和实施必要的规章制度，确保学校各项工作顺利进行，完成学校的使命。校委会总负责人为校长。校长每年四月由全体家长大会选举产生，获得理事会许可后，任期一年 （8/1 – 7/31）。每届校委会成员由校长委任。
      </p>

      <p>
      本届（2011/2012）校委会由以下成员组成：<br>
      校长：周岚      负责校委会与教师及家长会沟通；协调校委会成员的工作。<br>
      副校长：李红桂    负责教室及其它活动场地；与家长会合作，安排家长值班及组织活动；组织中文学校参加塔木春晚表演。<br>
      教务：王立涛， 应菡     负责教师招聘及培训，课程设计及教学计划。<br>
      财务：邓芳     负责学校收支，预算及审计。<br>
      出纳：邓芳， 孙明娜 <br>
      会计：苏碧芳 <br>
      网管：苏其苏    负责网页设计及网上信息管理。<br>
      Email 管理：孙明娜   负责学校Email 帐号 <a href="#container"><span style="color:blue">tamuzhongwen@gmail.com </span></a>，包括收发或转发邮件，回答问题，及协同网管管理Email名单。<br>
      图书：苏其苏  购买课本及图书馆图书，图书馆借还书服务。<br>
      </p>  
    </div>

    <div class="clear">
      <h2>4. 家长会 </h2>

      <p> 
      家长会由会长，副会长及各班家长代表组成，由家长推举产生。家长会的职责包括：<br>
      <li>物色和选任各个班的家长代表（Room Mother 或Room Father） </li>
      <li>安排家长值班  </li>
      <li>对学校的教学质量和校方的工作提出建设性意见</li>
      <li>与校方合作组织有意义的文化活动和课外活动，如Christmas party,TAMU春晚及其它活动。 </li>
      <p>
      家长会成员： <br>
      会长：彭华 <br>
      副会长： 常青<br>
      家长代表: <br>
      幼儿班：汪海燕 <br>
      </p>
      <p>
      CSL:<br>
      中文1班：栗艳曙<br>
      中文２班：苏其苏， 杨安如<br>
      中文３班：单丽波<br>
      中文４班：汪海燕<br>
      中文６班：李卫琼, 赵敏 <br>
      </p>
      </p>
    </div>

  </div>
</div>
<!-- 

####################################################################################################### -->
<!--
<div class="wrapper col5">
  <div id="footer">
    <div id="newsletter">
      <h2>Stay In The Know !</h2>
      <p>Please enter your email to join our mailing list</p>
      <form action="#" method="post">
        <fieldset>
          <legend>News Letter</legend>
          <input type="text" value="Enter Email Here&hellip;"  onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
          <input type="submit" name="news_go" id="news_go" value="GO" />
        </fieldset>
      </form>
      <p>To unsubscribe please <a href="#">click here &raquo;</a></p>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
-->
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved.</p>
 <p class="fl_right">Designed by Team SOS </p>
    <br class="clear" />
  </div>
</div>
<!-- </body>
</html> -->
