<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Educational
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<!-- <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Organization</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.ui.min.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.tabs.setup.js"></script>
</head>
<body> 
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div class="topbox">
        <h2>Nullamlacus dui ipsum</h2>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      <div class="topbox">
        <h2>Teachers Login Here</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Teachers Login Form</legend>
            <label for="teachername">Username:
              <input type="text" name="teachername" id="teachername" value="" />
            </label>
            <label for="teacherpass">Password:
              <input type="password" name="teacherpass" id="teacherpass" value="" />
            </label>
            <label for="teacherremember">
              <input class="checkbox" type="checkbox" name="teacherremember" id="teacherremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="teacherlogin" id="teacherlogin" value="Login" />
              &nbsp;
              <input type="reset" name="teacherreset" id="teacherreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <div class="topbox last">
        <h2>Pupils Login Here</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Pupils Login Form</legend>
            <label for="pupilname">Username:
              <input type="text" name="pupilname" id="pupilname" value="" />
            </label>
            <label for="pupilpass">Password:
              <input type="password" name="pupilpass" id="pupilpass" value="" />
            </label>
            <label for="pupilremember">
              <input class="checkbox" type="checkbox" name="pupilremember" id="pupilremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="pupillogin" id="pupillogin" value="Login" />
              &nbsp;
              <input type="reset" name="pupilreset" id="pupilreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left">Log In Here &raquo;</li>
        <li class="right" id="toggle"><a id="slideit" href="#slidepanel">Administration</a><a id="closeit" style="display: none;" href="#slidepanel">Close Panel</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div> -->
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1>中文学校规章制度</h1>
  <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <hr>
      <p>中文学校机构设校长一名， 财务俩人, 理事会， 和家长委员会。</p>
    <div class="clear">  
      <h2>校长 </h2>

      <p> 
      校长由理事会提名，家长委员会同意产生。原则上任期一年，连任不限。
      </p>
       
      <p>
      校长负责学校的整体运作，执行理事会的决议，建立和实施必要的规章制度，负责挑选考核教师。
      </p>
      <hr>
    </div>
    
    <div class="clear">  
      <h2>财务 </h2>

      <p> 
      财务俩人, </p>

      <p>以保证财务的钱帐分离。财务负责出纳和会计，但不可写支票。报销的发票须经财务核实, 理事会同意, 方可写支票,入帐。</p>
      <hr>
    </div>

    <div class="clear">
      <h2>理事会 </h2>

      <p> 
      理事会是中文学校的统管决策机构，其主要职责包括：明确学校的定位，决定学校的使命和发展方向，监督和审理校长的工作，管理学校的资产, 解释学校的章程和政策; 提名校长;负责学校财政预算和结算, 向家长委员会建议校长，财务，老师，和其他校务管理人员的津贴; 保证校长， 财务人事变动的顺利交接；组织有意义的文化活动和课外活动； 以及选举新的理事
      </p>

      <p>
      校长自动成为理事会成员， 理事会任何决定须通知家长委员会 ，与CAA有关事项须通知CAA adviser。</p>
      <p>理事会大笔财务支出和校长任免须经家长委员会同意。</p>
      <p>理事会成员由校长推荐， 家长自荐， 现任理事推荐并经现任理事会同意产生， 任期不限。</p>
      <p>理事会需维持5－10名理事
      </p> 
      <hr> 
    </div>

    <div class="clear">
      <h2>家长委员会 </h2>

      <p> 
      家长会由3－5位家长组成，设会长一名。家长委员会由全体家长选举产生，任期一年。家长委员会的职责包括：同意或否决理事会财务支出；如有家长与校方产生争执，家长委员会负责调解，并有最后的仲裁权利； 帮助校方安排值班家长；对学校的教育质量和校方的工作提出建设性意见； 协助校方组织有意义的文化活动和课外活动.
      </p>
      <hr>
    </div>

    <div class="clear">
      <h2>校务规章 </h2>

      <p> 
      中文学校校务人员， 校长，财务，教师， 理事会均为无薪酬义务工作人员。 </p>
      <p>校长，财务， 教师，特定理事会成员， 经理事会提议， 家长委员会通过， 可领取一定津贴。</p>
      <p>家长会成员不得领取任何津贴。</p>
      <p>
      学校向学生收取一定费用以支付学校必要支出，原则上费用应在每学期开始时决定并收取，如出现意外， 费用不足以满足学校当学期开支， 经全体家长同意，可加收必要费用。如有盈余，应通知全体家长盈余数目， 及处理盈余方式。原则上学校应保留一合理数量盈余以应对意外支出。学校由学生费用产生之任何直接与间接收入不得用于教学和学生活动以外的活动。学费三次课后原则上即不退。 如有特殊情况， 如学生搬家离开，教师更改导致课程设置内容改变， 可按未上课数退款。
      理事会与家长会成员不得兼任。</p>
      <p>理事会与家长会在上述组织结构下自行安排组织，会议，人员分工，决定产生方式等事项并通知全体家长。
      </p>
      <hr>
    </div>
  
    <div class="clear">
      <h2>教师规章 </h2>

      <p> 
      教师最重要的职责是保证学生在学校的安全。其次应在校长领导和监督下保证教学任务的顺利完成。校长与教师应根据学生课业， 年龄等因素， 在与学生家长充分沟通的前提下， 决定学生班级。
      </p>
      <p>
      教师应切实与学生和学生家长充分沟通， 并掌握学生家长联络方式以保证在紧急状况下可联络到学生家长。
      </p>
      <p>
      校长与理事会应安排一定时间和费用对每位教师。
      </p>
      <p>
      进行必要的安全培训， 使每位教师明确紧急状况下， 如火警，学生急病等的应对措施。
      </p>
      <p>教师对于干扰课堂秩序的学生，可以使用温和的方式规劝，可以用time out 的方法，可以送去理事值班处等方法，严禁体罚和使用污辱性的语言。 每学期初，教师应该向学校提交一份教学计划；有插班学生，应先告知理事会，理事会同意 后才能接收 。
      </p>

      <p>教师与家长沟通时严禁讨论，比较别家的子女。两家孩子发生冲突时， 需通知校长， 两方家长情况， 但严禁告知一方家长另一方子女的姓名。</p>
      <hr>
    </div>

    <div class="clear">
      <h2>家长规章 </h2>

      <p> 
     家长应帮助学校保证学生安全和教学任务的完成。家长需要保证提供教师可靠的联络方式。</p>
      <p>家长会成员不得领取任何津贴。</p>
      <p>
      家长应协助学校维护课堂纪律， 按时接送学生， 并对学生进行安全教育。家长应该尊重老师，进入教室听课应征得老师同意, 对老师有意见可向家委会和理事会反映，严禁直接指责老师。 家长每学期要义务值班一定时数, 具体时数由理事会，家委会与家长协调沟通决定。
      </p>
    </div>
    

  </div>
</div>
<!-- 

####################################################################################################### -->
<!--
<div class="wrapper col5">
  <div id="footer">
    <div id="newsletter">
      <h2>Stay In The Know !</h2>
      <p>Please enter your email to join our mailing list</p>
      <form action="#" method="post">
        <fieldset>
          <legend>News Letter</legend>
          <input type="text" value="Enter Email Here&hellip;"  onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
          <input type="submit" name="news_go" id="news_go" value="GO" />
        </fieldset>
      </form>
      <p>To unsubscribe please <a href="#">click here &raquo;</a></p>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
-->
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved.</p>
    <p class="fl_right">Designed by Team SOS</p>
 <br class="clear" />
  </div>
</div>
<!-- </body>
</html> -->
