<h3 style="font-size:30px;font-family:Times">TAMU Chinese School</h3>
<p style="font-size:20px;font-family:Cursive">Enjoy Learning Chinese!</p>

<div class="wrapper col3">
  <div id="featured_slide">
    <div id="featured_wrap">
      <ul id="featured_tabs">
        <li><a href="#fc1">Event 1<br /></a></li>
        <li><a href="#fc2">Event 2<br /></a></li>
        <li><a href="#fc3">Event 3<br /></a></li>
        <li><a href="#fc4">Event 4<br /></a></li>
      </ul>
      <div id="featured_content">
        <div class="featured_box" id="fc1"><img src="http://upload.wikimedia.org/wikipedia/commons/e/eb/AcademicBuilding-TAMU.jpg" alt="" />
          <div class="floater"></div>
        </div>
        <div class="featured_box" id="fc2"><img src="http://img.sparknotes.com/content/sparklife/sparktalk/oksoigotochineseschool_Large.jpg" alt="" />
          <div class="floater"></div>
        </div>
        <div class="featured_box" id="fc3"><img src="http://www.tamuk.edu/construction/images/rhode_hall_classroom.jpg" alt="" />
          <div class="floater"></div>
        </div>
        <div class="featured_box" id="fc4"><img src="http://www.scmp.com/sites/default/files/styles/980w/public/2013/08/04/communication_sin300_37118315.jpg?itok=_y_xnxYU" alt="" />
          <div class="floater"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="wrapper col4">
  <div id="container">
    <div id="hpage">
      <ul>
        <li>
          <h2>School Information</h2>
          <div class="imgholder"><a href="about"><img width = 200 height = 150 src="http://www.uaf.edu/catalog/catalog_09-10/images/courses.jpg" alt="" /></a></div>
          <p>Information about TAMU Chinese school</p>
          <p class="readmore"><a href="about">Details &raquo;</a></p>
        </li>
        <li>
          <h2>Register Now</h2>
          <div class="imgholder"><a href="families"><img width = 200 height = 150 src="http://scrwa.org/wp-content/uploads/2014/11/register-now.gif" alt="" /></a></div>
          <p>Register classes for your children.<a href="families"></p>
          <p class="readmore"><a href="families">Start Now &raquo;</a></p>
        </li>
        <li>
          <h2>Our Rules</h2>
          <div class="imgholder"><a href="school_rules"><img width = 200 height = 150 src="http://www.trinfocafe.org/wp-content/uploads/2009/09/rules_do_donts.jpg" alt="" /></a></div>
          <p>Rules that teachers and students must obey.</p>
          <p class="readmore"><a href="school_rules">Show More &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Contact Us</h2>
          <div class="imgholder"><a href="contact"><img width = 200 height = 150 src="http://79.170.43.15/definitiverecruitment.com/userimages/Useful%20Links3.jpg" alt="" /></a></div>
          <p>Send us an email.</p>
          <p class="readmore"><a href="contact">Details &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>


