<h3 style="font-size:30px;font-family:Times">TAMU Chinese School</h3>
<p style="font-size:20px;font-family:Cursive">Enjoy Learning Chinese!</p>

<div class="wrapper col3">
  <div id="featured_slide">
    <div id="featured_wrap">
      <ul id="featured_tabs">
        <li><a href="#fc1">picture 1<br /></a></li>
        <li><a href="#fc2">Picture 2<br /></a></li>
        <li><a href="#fc3">picture 3<br /></a></li>
        <li><a href="#fc4">Picture 4<br /></a></li>        
      </ul>
      <div id="featured_content">
        <div class="featured_box" id="fc1"><img src="http://upload.wikimedia.org/wikipedia/commons/e/eb/AcademicBuilding-TAMU.jpg" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc2"><img src="http://img.sparknotes.com/content/sparklife/sparktalk/oksoigotochineseschool_Large.jpg" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc3"><img src="http://www.tamuk.edu/construction/images/rhode_hall_classroom.jpg" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc4"><img src="http://www.scmp.com/sites/default/files/styles/980w/public/2013/08/04/communication_sin300_37118315.jpg?itok=_y_xnxYU" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="wrapper col4">
  <div id="container">
    <div id="hpage">
      <ul>
        <li>
          <h2>School Information</h2>
          <div class="imgholder"><a href="about"><img width = 200 height = 150 src="http://www.uaf.edu/catalog/catalog_09-10/images/courses.jpg" alt="" /></a></div>
          <p>This is the school information about TAMU Chinese school<a href="http://www.os-templates.com/"></a> </p>
          <p class="readmore"><a href="#">details &raquo;</a></p>
        </li>
        <li>
          <h2>Register Now</h2>
          <div class="imgholder"><a href="#"><img width = 200 height = 150 src="http://scrwa.org/wp-content/uploads/2014/11/register-now.gif" alt="" /></a></div>
          <p>This is the webpage to register.<a href="./signup.html"></p>
          <p class="readmore"><a href="#">Start Now &raquo;</a></p>
        </li>
        <li>
          <h2>Our Rules</h2>
          <div class="imgholder"><a href="./rules.html"><img width = 200 height = 150 src="http://www.trinfocafe.org/wp-content/uploads/2009/09/rules_do_donts.jpg" alt="" /></a></div>
          <p>These are the rules that teachers and students must obey.</p>
          <p class="readmore"><a href="./rules.html">Show More &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Useful Links</h2>
          <div class="imgholder"><a href="./links.html"><img width = 200 height = 150 src="http://79.170.43.15/definitiverecruitment.com/userimages/Useful%20Links3.jpg" alt="" /></a></div>
          <p>Some links that maybe helpful for you.</p>
          <p class="readmore"><a href="./links.html">Details... &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>

<div class="wrapper col5">
  <div id="footer">
    <div id="newsletter">
      <h2>Stay In The Know !</h2>
      <p>Please enter your email to join our mailing list</p>
      <form action="#" method="post">
        <fieldset>
          <legend>News Letter</legend>
          <input type="text" value="Enter Email Here&hellip;"  onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
          <input type="submit" name="news_go" id="news_go" value="GO" />
        </fieldset>
      </form>
      <p>To unsubscribe please <a href="#">click here &raquo;</a></p>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
